<ion-content padding class="guide-modal">
    
    <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
    <div>
      <!-- <p>SUPER!!!!</p>
      <p>Some Gyan First!</p>
      <p>We preach sustainable weight loss - max 1 </p>
      <p>kg of weight loss a week is healthy and </p> -->
      <p>{{msg}}</p>
      <ion-row>
          <ion-col col-3>
              <button ion-button small (tap)="yes()">Yes</button>
          </ion-col>
          <ion-col col-3>
                <button ion-button small (tap)="no()">No</button>
          </ion-col>
      </ion-row>
    </div>
</ion-content>