page-fuel-consumption-report {
    .my-class1 {
        background-color: #5a9240;
        color: white;
    }
    .my-class2{
        background-color: #eb655f;
        color: white;
    }
    .my1{
        color: white; background-color: gray;
    }
    .my2{
        display: none;
    }
    .paddClass {
      padding-top: 16px;
    }
}
